.prose {
  @apply max-w-[65ch] mx-auto;
}

.prose h1 {
  @apply text-3xl mt-10 mb-6;
}

.prose h2 {
  @apply text-2xl mt-8 mb-4;
}

.prose h3 {
  @apply text-xl mt-6 mb-2;
}

.prose p {
  @apply my-4 leading-7;
}

.prose blockquote {
  @apply my-4 pl-4 border-l-4 border-gray-300;
}

.prose ol li {
  @apply my-2 list-decimal list-outside ml-5;
}

.prose ul li {
  @apply my-2 list-disc list-outside ml-5;
}

.prose a {
  @apply underline decoration-dashed decoration-1 underline-offset-4 hover:opacity-50;
}

.prose img {
  @apply rounded-[3px] sm:rounded-[6px];
}

.prose table {
  @apply my-4 border-collapse;
}

.prose pre {
  @apply rounded-md;
}

.prose code {
  @apply whitespace-pre-wrap break-all;
}

.prose p code {
  @apply rounded-md py-1 px-2 bg-gray-100 dark:bg-gray-800;
}

.prose .shiki {
  @apply p-4;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
